In [15]:
import pandas as pd
from pandas import Series


df = pd.read_csv('user-stockName.csv', encoding='utf-8', header=None)

In [6]:
df

           0     1     2   3      4  5  6         7  8  9  10 11 12
0        삼성전자  1786  3545   0  STOCK  *  F      삼성전자  *  *  *  *  *
1      sk하이닉스  1786  3545   0  STOCK  *  F    sk하이닉스  *  *  *  *  *
2         네이버  1786  3545   0  STOCK  *  F       네이버  *  *  *  *  *
3         카카오  1786  3545   0  STOCK  *  F       카카오  *  *  *  *  *
4    삼성바이오로직스  1786  3545   0  STOCK  *  F  삼성바이오로직스  *  *  *  *  *
..        ...   ...   ...  ..    ... .. ..       ... .. .. .. .. ..
195     lx홀딩스  1786  3545   0  STOCK  *  F     lx홀딩스  *  *  *  *  *
196    lx하우시스  1786  3545   0  STOCK  *  F    lx하우시스  *  *  *  *  *
197    롯데하이마트  1786  3545   0  STOCK  *  F    롯데하이마트  *  *  *  *  *
198      일양약품  1786  3545   0  STOCK  *  F      일양약품  *  *  *  *  *
199      삼양식품  1786  3545   0  STOCK  *  F      삼양식품  *  *  *  *  *

[200 rows x 13 columns]

In [7]:
record = [
'삼성전자', 'sk하이닉스', '네이버', '카카오', '삼성바이오로직스',
'lg화학', '삼성sdi', '현대차', '기아', '셀트리온', '카카오뱅크',
'크래프톤', '포스코', 'kb금융', '현대모비스', 'sk텔레콤', '삼성물산', 
'sk이노베이션', 'lg전자', '신한지주', '엘지생활건강','엔씨소프트',
'sk바이오사이언스', 'sk', '하이브', '한국전력', 'lg', '두산중공업', 
'삼성생명', '하나금융지주', '삼성전기', '삼성sds', '케이티앤지', '넷마블',
'sk아이이테크놀로지', 'hmm', '포스코 케미칼', 's-oil', '아모레퍼시픽', 
'대한항공','삼성화재', '우리금융지주', '고려아연', '기업은행', 'kt', 
'sk바이오팜', '한온시스템', 'lg디스플레이', '롯데케미칼', '한국조선 해양',
'한화솔루션', 'skc', 'lg유플러스', '코웨이', '강원랜드', '현대글로비스', 
'현대건설', 'cj제일제당', 'lg이노텍', '미레에셋증권','현대제철', 
'한국타이어앤테크놀로지', '금호석유', '일진머티리얼즈', '한국금융지주', 
'현대중공업지주', '두산밥캣','이마트','삼성엔지니어링', '오리온', 
'유한양행', '삼성증권', '아모레g', 'db손해보험', '쌍용씨앤비', 
'한진칼', '한솔케미칼', 'nh투자증권',
'한국가스공사', 'gs','삼성카드', '한전기술', '삼성중공업', '한미사이언스', 
'동서', 'gs건설', '롯데지주', '두산퓨얼셀', 'gs리테일', '한미약품',
's1', '호텔신라', '메리츠증권', 'cj대한통운', '만도', '롯데쇼핑', 
'현대미포조선', '한화 생명', '팬오션', '한화시스템','bgf리테일', 
'효성첨단소재', '키움증권', 'oci', 'bnk금융지주', 'cj', 'kcc', 
'녹십자', '한국항공우주', 'sk케미칼','제일기획', 'db하이텍', '씨에스윈드', 
'대우조선해양', '효성티앤씨', 'dl 이엔씨', '신풍제약', '대우건설', '신세계', 
'현대로템', '하이트진로', '한화','포스코인터내셔널', 
'휠라홀딩스', '현대해상','두산', '코오롱인더','한화에어로스페이스', 
'한전kps', '후성', '현대위아', '효성', '한샘', '롯데정밀화학',
'현대엘리베이', '현대백화점', 'lselectric', '대웅', 'ls', '영원무역',
'아시아나항공', '한국엔컴퍼니', '에프앤에스홀딩스', '농심', '오뚜기', 
'대한전선','hdc현대산업개발', '동원시스템즈', '동국제강', '금호타이어', 
'대웅제약', '종근당', '더블유게임즈', '코스맥스', '지누스', '롯데관광개발', 
'아이에스동서', '영풍','sk네트웍스', '녹십자홀딩스','롯데칠성', 'dl', 
'이노션' ,'화승엔터프라이즈','kg동부제철', '신세계인터내셔날', 
'cjcgv', '한올바이오파마', 'lx인터내셔널','태광산업', '세방전지',
'대한유화', 'lig넥스원', '삼양홀딩스', '오리온홀딩스', '부광약품', 
'영진약품', '보령제약', '현대그린푸드', '동원산업','sk디스커버리',
'한섬', '휴켐스', '풍산', '한세실업', 'gkl', '한국콜마', '쿠쿠홈시스',
'대상', '넥센타이어','동원에프앤비', '쿠쿠홀딩스', 'snt모티브',
'현대홈쇼핑', '현대두산인프라코어','lx홀딩스', 'lx하우시스', 
'롯데하이마트', '일양약품', '삼양식품']

In [16]:
series = Series(data=record)

In [43]:
df[[7]] = series

In [41]:
df[[7]][7]

0          삼성전자
1        sk하이닉스
2           네이버
3           카카오
4      삼성바이오로직스
         ...
195       lx홀딩스
196      lx하우시스
197      롯데하이마트
198        일양약품
199        삼양식품
Name: 7, Length: 200, dtype: object

In [44]:
for i in df[[7]][7]:
    if i == 's1':
        print(i)

s1

In [46]:
df.to_csv("user-stockName2.csv", index=False) # 사용자 사전 1차 추가